# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\文档\大三下\软件质量测试\大作业2\实践作业2git\SoftwareTestingPracticalCourseHomework2\TicTacToe-master (2)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
